* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: auto;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden; 
}

h1 {
  font-size: 4rem;
  font-weight: 700;
}

a {
  color: white;
  text-decoration: none;
}

p {
  margin: 0;
  padding: 0;
  font-size: 1.2em;
  line-height: 28px;
  font-family: 'Jost', sans-serif;
  color: #696969;
}

li {
  list-style: none;
}

.btn-white {
  padding: 12px 35px;
  font-size: 18px;
  line-height: 28px;
  text-transform: capitalize;
  font-weight: 400;
  transition: 0.3s ease-in;
  border-radius: white;
  background-color: #fff;
  color: green;
}

.btn-style {
  padding: 12px 35px;
  font-size: 18px;
  line-height: 28px;
  text-transform: capitalize;
  font-weight: 400;
  transition: 0.3s ease-in;
}

.border-btn {
  border: 2px solid #fff;
  color: #fff;
  padding: 10px 35px;
}

.btn {
  border-radius: 0.7rem;
}

.py-5 {
  padding-bottom: 3rem !important;
}

/* header */

header {
  width: 100%;
  padding: 0 !important;
}

.fixed-top {
  position: fixed;
  top: 40px;
  right: 0;
  left: 0;
  z-index: 1030;
}

header {
  background-color: white;
  padding: 0px;
  transition: all 0.4s ease 0s;
  height: 90px;
  display: grid;
  align-items: center;
  box-shadow: 0px 3px 9px rgba(0, 0, 0, 0.05);
  transform: translateX(0%);
  padding: 0 9rem;
}

header .navbar-brand {
  color: #189A46 !important;
  font-size: 2.1rem;
  font-weight: 700;
}


header ul li {
  margin: 0 5px;
  font-size: 18px;
  font-weight: 500;
}

header ul li.active a {
  color: #189A46 !important;
}

.nav-link {
  color: black;
}
.nav-link:hover {
  color: #189A46 !important;
}

header ul li:nth-child(5) {
  margin-right: 0;
  padding-right: 0;
}

header ul i {
  cursor: pointer;
}

.down {
  font-size: 10px;
  margin-top: 20px;
  color: black;
}


header ul li::after {
  content: "";
  height: 2px;
  display: block;
  width: 0%;
  background-color: green;
  transition: all 0.5s;
}

header ul li:hover::after {
  width: 100%;
}

.navbar-expand-lg .navbar-nav .nav-link:hover {
  color: black;
}

/* .navbar-expand-lg .navbar-nav .nav-link:hover {
  color: black;
} */

.navbar-expand-lg .navbar-nav .dropdown-menu:before {
  content: '';
  width: 14px;
  height: 14px;
  display: block;
  border-right: none;
  border-bottom: none;
  transform: translateX(-50%) rotateZ(45deg);
  position: absolute;
  top: -7px;
  left: 49%;
  z-index: 1001;
}

.dropdown a span {
  font-size: 13px;
}

.dropdown-menu {
  border-radius: #fff;
  background: #fff;
  border: 1px solid #fff;
  min-width: 13rem;
  padding: 1rem 0 0.3rem;
  position: absolute;
  z-index: 1;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: -50%;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 10rem;
  padding: 0.5rem 0;
  margin: 0.125rem 0 0;
  font-size: 1rem;
  color: #212529;
  text-align: left;
  list-style: none;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 0.25rem;
}

.dropdown-menu a:hover {
  color: #116e32;
}

.navbar-expand-lg .navbar-nav .dropdown-menu:before {
  content: '';
  width: 14px;
  height: 14px;
  background: white;
  border: 1px solid white;
  display: block;
  border-right: none;
  border-bottom: none;
  transform: translateX(-50%) rotateZ(45deg);
  position: absolute;
  top: -7px;
  left: 49%;
  z-index: 1001;
}

a.dropdown-item {
  font-weight: 400;
  font-size: 1.2em;
  position: relative;
  color: black;
  padding-top: 0;
  display: block;
  width: 200px;
  padding-bottom: 14px;
}

.dropdown-item::after {
  content: "";
  height: 2px;
  display: block;
  width: 0%;
  background-color: green;
  transition: all 0.5s;
}

.dropdown-item:hover::after {
  width: 70%;
}
.navbar-toggler {
  background-color: #189A46;
}
.navbar-toggler span {
  color: white;
}
.navbar {
  padding: 0;
}
@media screen and (max-width: 992px) {
  header .navbar-collapse {
    background-color: #fff !important;
    text-align: center;
  }
  header ul li:hover::after {
    width: 0%;
  }
}

/* slider */

.carousel-item {
  height: 95vh;
  background-position: center;
  background-size: cover;
  position: relative;
}

.carousel-item:nth-child(1) {
  background-image: url(./images/banner1.jpg);
  background-position: center;
  background-size: cover;
}

.carousel-item:nth-child(1) .carousel-caption {
  top: 30%;
}

.carousel-item:nth-child(2) {
  background-image: url(./images/banner2.jpg);
  background-position: center;
  background-size: cover;
}

.carousel-item:nth-child(2) .carousel-caption {
  margin-left: 20rem;
  top: 30%;
}

.carousel-item:nth-child(3) {
  background-image: url(./images/banner3.jpg);
  background-position: center;
  background-size: cover;
}

.carousel-item:nth-child(3) .carousel-caption {
  top: 30%;
}

.carousel-item:nth-child(4) {
  background-image: url(./images/banner4.jpg);
  background-position: center;
  background-size: cover;
}

.carousel-item:nth-child(4) .carousel-caption {
  margin-left: 20rem;
  top: 30%;
}

.overlay {
  position: absolute;
  top: 0;
  min-height: 100%;
  left: 0;
  right: 0;
  background-color: #0c0c0c;
  opacity: .6;
}
.carousel-indicators {
  align-items: center;
}
.carousel-indicators li {
  border-radius: 50%;
  width: 0.5rem;
  height: 0.5rem;
  margin: 0 0.5rem;
}

.carousel-indicators li.active, .carousel-indicators li:hover {
  width: 30px;
  background-color: #198D42;
  height: 10px;
  border-radius: 25px;
  border: 1px solid transparent;
}


.dropdown-menu {
  position: absolute;
}

.carousel-caption a:hover {
  background-color: white;
  color: #189A46;
}

.carousel-caption p {
  color: white;
}

@media screen and (max-width:1200px) {
  .carousel-caption h1 {
    font-size: 52px;
  }
  .carousel-caption p {
    font-size: 15px;
  }
}
@media screen and (max-width:726px) {
  .carousel-caption h1 {
    font-size: 46px;
  }
  .carousel-item:nth-child(2) .carousel-caption, .carousel-item:nth-child(4) .carousel-caption {
    margin-left: 10px;
  }
}
@media screen and (max-width:589px) {
  .carousel-caption h1 {
    font-size: 40px;
  }
  .carousel-caption p {
    font-size: 13px;
  }
  .carousel-item:nth-child(2) .carousel-caption, .carousel-item:nth-child(4) .carousel-caption {
    margin-left: 10px;
  }
}

/* grids */

.bottom-ab-left .text-body:hover {
  color: green!important;
}

.sub-title {
  font-size: 18px;
  font-weight: 400;
  text-transform: uppercase;
  line-height: 2em;
  letter-spacing: 1px;
  color: red;
}

.hny-title {
  font-size: 40px;
  font-weight: 600;
  line-height: 48px;
  text-transform: capitalize;
}

.my-3 {
  margin-bottom: 1rem !important;
  color: gray;
}

a.read {
  font-size: 17px;
  padding: 0;
  border-bottom: 2px solid green;
  color: black;
  transition: 0.3s ease-in-out;
  font-weight: 600;
  border-radius: 0;
  margin-top: 20px;
  display: inline-block;
  text-transform: capitalize;
  font-weight: 700;
}

a.read:hover {
  color: green;
  text-decoration: none;
}

/* grids bottom */

.area-box a {
  text-decoration: none;
}

.area-box a:hover {
  color: green;
}

.w3l-features {
  background-color: #936be80d;
}

.w3l-features .area-box {
  padding: 40px 30px;
  transition: all 0.5s ease 0s;
  border-radius: 10px;
  background-color: white;
  position: relative;
  margin-bottom: 30px;
}

.w3l-features .area-box:hover {
  background: #936be80d;
}

.icon {
  color: green;
  font-size: 2rem;
  padding-bottom: 1.2rem;
}

.area-box h4 a {
  color: black;
  font-size: 1.5rem;
  font-weight: 700;
}

.area-box p {
  color: gray;
}

/* service */

.img-fluid {
  max-width: 100%;
  height: auto;
}

img {
  border-radius: 10px;
}

.w3l-services1 .cwp4-text {
  align-self: center;
}

.w3l-services1 .cwp4-text p {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24.5px;
  color: gray;
  margin: 15px 0 35px 0;
}

.w3l-services1 .cwp4-text ul li {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  color: black;
  margin: 15px 0;
  font-weight: 700;
}

.w3l-services1 ul.cont-4 li span.fa {
  color: green;
  margin-right: 12px;
  background: #936be80d;
  font-size: 12px;
  padding: 8px;
  border-radius: 50%;
  display: inline-block;
}

/* stats */

.w3l-stats {
  background: #189a46;
  text-align: center;
}

.counter {
  font-size: 50px;
  line-height: 60px;
  font-weight: 600;
  color: #fff;
  margin-top: 30px;
  margin-bottom: 0;
}

.stats_info h4 {
  font-size: 20px;
  line-height: 25px;
  text-transform: capitalize;
  color: #fff;
  margin-top: 10px;
  opacity: 0.8;
  font-weight: 400;
}

/* pricing plans */

.pricing {
  background-color: #936be80d;
}

.w3l-pricing-7-main .pricing-gd-left {
  background: #fff;
  border-radius: 10px;
  align-self: center;
}

/* .w3l-pricing-7 {
  border-radius: 10px;
}

.pricing-gd-left {
  border-radius: 10px;
}

.pricing-gd-left {
  border-radius: 10px;
} */

.w3l-pricing-7-main .pricing-sec-7 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 0 5% auto;
  margin-top: 0;
  width: 90%;
}

.pricing-gd-left.pric-7.active .w3l-pricing-7-top {
  padding: 3em 2.5em 0.5em;
  background: #189a46;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}

.w3l-pricing-7-main h4 {
  font-size: 40px;
  line-height: 45px;
  margin: 15px 0 20px;
  text-align: center;
  font-weight: 600;
  color: #189a46;
}

.w3l-pricing-7-main h4 label {
  font-size: 25px;
  vertical-align: text-top;
}

.w3l-pricing-7-main h4 span {
  font-size: 16px;
  line-height: 25px;
  color: #999;
  font-weight: 400;
}

.w3l-pricing-7-main h6 {
  text-align: center;
  text-transform: capitalize;
  margin-bottom: 10px;
  font-size: 25px;
  line-height: 30px;
  font-weight: 600;
}

.w3l-pricing-7-main .pricing-gd-left {
  background: #fff;
  border-radius: 6px;
  align-self: center;
}

.w3l-pricing-7-main .pric-7-1 .w3l-pricing-7 {
  padding: 3.5em 2.5em;
  border-right: 0;
}

.w3l-pricing-7-main .pric-7-2 .w3l-pricing-7 {
  padding: 3.5em 2.5em;
  border-left: 0;
}

.buy-button a {
  background-color: #189a46;
  border-color: #189a46 !important;
  transition: all 0.5s;
}

.buy-button a:hover {
  background-color: #116e32;
  border-color: #116e32 !important;
}

.btn-primary {
  color: #fff;
  background-color: #189A46;
  border-color: #189A46;
}

.w3l-pricing-7-main ul.links li {
  list-style: none;
  margin-bottom: 5px;
  color: #304659;
}

.w3l-pricing-7-main p.lists {
  font-size: 17px;
  line-height: 28px;
  font-weight: normal;
  align-self: center;
  padding-top: 6px;
  text-align: center;
}

.w3l-pricing-7-main h5 {
  font-size: 15px;
  line-height: 20px;
  color: #189A46;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 30px;
  font-weight: 700;
  display: inline-block;
  padding: 8px 20px;
  background: #fff;
  border-radius: 10px;
}

.pricing-gd-left.pric-7.active .w3l-pricing-7-top {
  padding: 2em 2.5em 0.5em;
  background: #189a46;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  text-align: center;
}

.pric-7 .w3l-pricing-7-top h6 {
  color: white;
}

.pric-7 .w3l-pricing-7-top h4 {
  color: white;
}

.buy-button {
  text-align: center;
}

#pricing {
  background-color: #936be80d;
}

.pric-7-1 {
  background-color: #fff;
}

.pric-7 .w3l-pricing-7-bottom {
  height: 22rem;
  border-radius: 10px;
}

.pric-7-1 {
  margin-top: 1rem;
}

.pric-7-2 {
  margin-top: 2rem;
}

.pric-7 .w3l-pricing-7-bottom .links {
  padding-top: 2rem;
}

.pric-7 {
  border-radius: 5px soild;
}

.w3l-pricing-7-main .pricing-gd-left.active {
  transform: scale(1.03);
  z-index: 1;
  margin: 0;
  box-shadow: 0 10px 30px 0 rgb(17 17 17 / 9%);
  border-radius: 6px;
}

@media (max-width: 1366px) {
  .w3l-pricing-7-main .pricing-sec-7 {
      width: 90%;
  }
}
@media (max-width: 768px) {
  .w3l-pricing-7-main .pricing-sec-7 {
      width: 75%;
  }
}
@media (max-width: 800px) {
  .w3l-pricing-7-main .pricing-sec-7 {
      width: 60%;
  }
}
@media (max-width: 800px) {
  .w3l-pricing-7-main .pricing-sec-7 {
      display: grid;
      grid-template-columns: 1fr;
      grid-gap: 30px;
      margin: 50px auto 0;
  }
}
/* Pet Nutrition */
.video {
  padding-top: 40px;
  position: relative;
}
.video img {
  max-width: 950px;
  width: 100%;
  height: fit-content;
}
.video a {
  width: 100%;
}
.video a span{
  color: #189A46;
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  background: #fff;
  display: inline-block;
  width: 55px;
  height: 55px;
  line-height: 55px;
  border-radius: 50%;
  transition: 0.3s ease-in-out;
  animation: ripple 1s linear infinite;
  margin-top: 1rem;
}


/* Feedback */
#feedback {
  background-color: #F9F7FE;
}
.feedback__content {
  padding-top: 3rem;
}
.feedback__item blockquote q {
  font-size: 1.2em;
  line-height: 28px;
  color: #777;
}

.feedback__item blockquote q::before {
  font-size: 50px;
  color: #189A46;
  line-height: .8;
  padding-top: 8px;
  font-weight: 600;
  display: inline-block;
  font-family: "Merriweather", serif;
}

.feedback__item blockquote {
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  position: relative;
  margin-bottom: 1.5em;

}
.feedback__item {
  background-color: white;
  border-radius: 10px;
  display: block;
  margin: 0;
  padding: 40px 30px;
  position: relative;
  border: none;
  box-shadow: 0 25px 98px 0 rgb(19 19 19 / 3%);
}
.feedback__footer {
  display: flex;
  justify-content: flex-start;
}

.feedback__footer .client__info {
  margin: 0;
  margin-left: 20px;
  text-align: left;
}
.client__img {
  width: 70px;
  height: 70px;
  display: inline-block;
  overflow: hidden;
  background: var(--bg-color);
  border-radius: 50%;
}
.client__img img {
  width: 100%;
  min-height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center;
}
.client__info h3 {
  margin: 0;
  font-weight: 600;
  font-size: 20px;
}
.client__info p {
  color: #777;
  font-size: 17px;
  font-style: normal;
  margin-bottom: 0;
  text-align: left;
  opacity: 0.8;
}
.owl-dots {
  margin-top: 50px !important;
  padding-bottom: 2rem;
}
.owl-dot span {
  width: 10px;
    height: 10px;
    margin: 5px 2px;
    background: #d8d8d8;
    display: block;
    transition: opacity .2s ease;
    border-radius: 25px;
    position: relative;
}

.owl-dots .owl-dot.active span, .owl-dot:hover span {
  background: #189A46 !important;
  width: 30px !important;
  height: 10px !important;
}
.owl-dot:focus{
  outline: none;
}
.owl-dot.active:focus {
  outline: none;
}

/* Subscribe */
.subscription__header, .subscription__form {
  max-width: 650px;
}
.subscribe__field {
  display: flex;
  justify-content: space-between;
}
.subscribe__field input {
  font-size: 16px;
  color: var(--title-color);
  padding: 0px 20px;
  height: 60px;
  flex-basis: 70%;
  background: #fff;
  height: 60px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 10px;
}

/* Footer */
#footer footer {
  background-color: #111;
}
.footer__top h6 {
  color: white;
  font-size: 20px;
  line-height: 26px;
  font-weight: 600;
  margin-bottom: 25px;
}
.social ul {
  margin-top: 3px;
  padding: 0;
  list-style: none;
  overflow: hidden;
}
.social ul li {
  display: inline-block;
  margin-right: 15px;
  margin-bottom: 0;
}
.social ul li a span {
  font-size: 16px;
  color: #696969;
  transition: 0.5s;
}
.social ul li a span:hover {
  color: white;
}
.contact, .footer__link ul li{
  margin-bottom: 5px;
}
.contact ul li p, .contact ul li a, .copyright p {
  font-weight: normal;
  font-size: 16px;
  color: #696969;
  line-height: 28px;
}
.contact ul li a:hover, .footer__link ul li a:hover {
  color: white;
}
.copyright {
  background: #111;
  border-top: 1px solid rgba(103, 99, 99, 0.14);
}
.copyright p a {
  color: #DE3224;
}

/* BackToTop */
#movetop {
  display: none;
  position: fixed;
  bottom: 90px;
  right: 15px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  cursor: pointer;
  color: #fff !important;
  width: 48px;
  height: 48px;
  background: green;
  padding: 0;
  line-height: 36px;
  border-radius: 50px;
  transition: all .4s;
}
html {
  scroll-behavior: smooth;
}
#movetop:hover {
  transform: translate3d(0, -5px, 0);
  transition: all .4s;
}

@keyframes ripple {
  0% {
    box-shadow: 0 0 0 0 rgba(15, 162, 66, 0.164), 0 0 0 10px rgba(15, 162, 67, 0.25), 0 0 0 20px rgba(15, 162, 67, 0.25);
  }

  100% {
    box-shadow: 0 0 0 10px rgba(15, 162, 67, 0.25), 0 0 0 20px rgba(15, 162, 67, 0.25), 0 0 0 40px rgba(50, 100, 245, 0);
  }
}

